@media (max-width: 380px) {

    /* about */

    #wholeaboutID {
        height: 100vh !important;
    }

    .timname {
        font-size: 2rem !important;
        font-weight: bold;
    }

    .colsmall {
        padding-top: 30% !important;
    }

    #aboutus2{
        padding-top: 12% !important;
    }

    .marcusname {
        font-size: 2rem !important;
        font-weight: bold;
    }

    .lukesmall {
        padding-top: 20%;
    }

    /* tennis camps */

    #tennisCamps {
        overflow-x: hidden !important;
    }

    .campbutton {
        width: 75%;
    }

    #tennisCampstext {
        width: 90%;
        padding-top: 5%;
        margin-left: -2%;
    }

    /* pickleball camps */

    .pickleText {
        height: 250px !important;
        display: flex;
        flex-direction: row !important;
    }

    #pickleballHeader {
        margin-right: -5% !important;
        margin-left: -8% !important;
        margin-top: 5% !important;
    }

    #pickleballText {
        width: 90%;
        padding-top: 5%;
        margin-left: -2%;
    }
    

    /* personal instruction */

    #learnMoreButton {
        margin-top: 15%;
    }

    /* traveling instruction */

    #travelingHeader {
        padding-left: 15%;
    }

    #travelingtext {
        width: 90%;
        padding-top: 5%;
        margin-left: -2%;
    }

    .topheader {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 15%;

    }
}