/* @media (max-width: 380px) { */

    /* about */
/* 
    #wholeaboutID {
        height: 100vh !important;
    }

    .timname {
        font-size: 2rem !important;
        font-weight: bold;
    }

    .colsmall {
        padding-top: 30% !important;
    }

    #aboutus2{
        padding-top: 12% !important;
    }

    .marcusname {
        font-size: 2rem !important;
        font-weight: bold;
    }

    .lukesmall {
        padding-top: 20%;
    }

    /* tennis camps */


   

    #tennisCampstext {
        width: 90%;
        padding-top: 5%;
        margin-left: -2%;
    }

    /* pickleball camps */

    .pickleText {
        height: 250px !important;
        display: flex;
        flex-direction: row !important;
    }

    #pickleballHeader {
        margin-right: -5% !important;
        margin-left: -8% !important;
        margin-top: 5% !important;
    }

    #pickleballText {
        width: 90%;
        padding-top: 5%;
        margin-left: -2%;
    }

    #pickleballCamps {
        margin-top: -20% !important;
    }

    /* personal instruction */

    #learnMoreButton {
        margin-top: 15%;
    }

    /* traveling instruction */

    #travelingHeader {
        padding-left: 15%;
    }

    #travelingtext {
        width: 90%;
        padding-top: 5%;
        margin-left: -2%;
    }

    .topheader {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 15%;

    }
}

/* @media (max-width: 1024px) {
  .spacer {
      display: none !important;
  }

  .pickleText {
    margin-top: -5% !important;
  } */

  /* Traveling */

  /* #traveling {
    height: 105vh !important;
}

.card-img-top{
    width:100% !important;
    height:150px !important;
    object-fit: cover;
  }

.col{
    padding-bottom: 5% !important;
    padding-left: 10% !important;
}

#cardout{
    margin-left: -8% !important;
}

#cardout2{
    margin-left: -8% !important;
}

.row {
    padding-left: 10% !important;
} */

