/* Media Queries

/* IPAD */

/* Home Page */
    
@media (max-width: 768px) {

    * {
        padding: 0;
        margin: 0;
        box-sizing: inherit;
        font-family: 'Be Vietnam', sans-serif;
    
    }

    html, body {
        font-size: 62.5%;
    }


    ul {
        width: 75% !important;
    }

    .center h1 {
        color: white;
        font-size: 4rem !important;
        font-weight: bold;
        width: 200% !important;
        text-align: center;
        padding-bottom: 5%;
        margin-top: -30%;
    }

    .navbartop ul li a{
        text-decoration: none;
        color: white;
        font-size: 1rem !important;
        padding: 0px 13px;
        margin-right: 20px;
        font-family: 'Be Vietnam', sans-serif;
        transition: .4s;
    }

    .wrapper {
        background: url(./images/tennisball.jpg) no-repeat ;
        background-size: cover;
        height: 100vh;
        background-position: center !important;
        background-attachment: fixed;
        height: 78vh !important;
          
    }

/* About Us */

.firstrow {
    padding-top: 5%;
    margin: auto, 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.colbig p {
    text-align: left;
    line-height: 120% !important;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1.5rem;
}

.colsmall {
    padding-top: 10%;
}

.lukesmall {
    padding-top: 8%;
}

#aboutus {
    margin-bottom: -37%;
}

.wholeabout {
    height: 95vh !important;

}

  /* Tennis Camps */

  .topheader {
      margin-left: -5% !important;
  }

  .photo button {
    position: absolute;
    margin-top: 120% !important;
}

/* Pickleball Camps */

#pickleballCamps {
    height: 25vh;
    width: 100% !important;
}

.pickleText {
    padding-left: 10%;
    margin-top: -35% !important;
    overflow-x: hidden !important;
}


.pickleText p{
    margin-right: -30%;
}

.pickleText h1{
    margin-top: -3%;
}

.header {
    margin-top: -10%;
}

/* Personal Training */

.personalImages {
    padding-top: 7%;
    padding-left: 5%;
}

/* Traveling */

#traveling {
    margin-top: -35% !important;
    height: 80vh !important;
}

.topheader p {
    padding-left: 5% !important;
}

.topheader h1 {
    padding-right: 5% !important;
    padding-top: 7% !important;
}


.card-img-top{
    width:100% !important;
    height:150px !important;
    object-fit: cover;
  }

.col{
    padding-bottom: 5% !important;
    padding-left: 10% !important;
}

#cardout{
    margin-left: -8% !important;
}

#cardout2{
    margin-left: -8% !important;
}

}

/* Cell Phone */


@media (max-width: 500px) {

    /* Homepage */

#navbarID {
    display: none;
}

.center h1 {
    font-size: 3rem !important;
}

.wrapper {
    height: 100vh !important;
}

* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:sans-serif;
  }
  
  #sidebar {
    position:fixed;
    top:0px;
    right:-200px;
    width:200px;
    height:43%;
    background:#151719;
    transition:all 300ms linear;
    z-index: 3;
  }
  #sidebar.active {
    right:0px;
  }
  #sidebar .toggle-btn {
    position:absolute;
    right:220px;
    top:10px;
  }
  #sidebar .toggle-btn span {
    display:block;
    width:30px;
    height:5px;
    background:dodgerblue;
    margin:5px 0px;
    cursor:pointer;
  }
  #sidebar div.list div.item {
    padding:15px 10px;
    border-bottom:1px solid #444;
    color:#fcfcfc;
    text-transform:uppercase;
    font-size:15px;
  }


    /* About Us */

    .firstrow {
        padding-top: 5%;
        margin: auto, 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .colbig p {
        text-align: left;
        line-height: 120% !important;
        font-family: 'Be Vietnam', sans-serif;
        font-size: .9rem !important;
    }
    
    .colsmall {
        padding-top: 10%;
        width: 50% !important;
    }
    
    .lukesmall {
        padding-top: 8%;
    }
    
    #aboutus {
        margin-bottom: -50%;
    }
    
    .wholeabout {
        height: 90vh !important;
    
    }

      /* Tennis Camps */

  .topheader {
    margin-left: -5% !important;
}

.topheader p {
    font-size: .8rem !important;
}

.topheader h1 {
    font-size: 2rem !important;
    margin-top: -5% !important;
}
.photo button {
  position: absolute;
  margin-top: 180% !important;
}



/* Pickleball Camps */

#pickleballCamps {
    height: 25vh;
    width: 100% !important;
}

.pickleText {
    padding-left: 10%;
    padding-top: 8% !important;
    margin-top: -30% !important;
    overflow-x: hidden !important;
}


.pickleText p{
    margin-right: -3% !important;
    font-size: .8rem;
    width: 50% !important;
}

.pickleText h1{
    font-size: 2rem !important;
    padding-left: 5%;
}

.header {
    margin-top: -10%;
}

#pb-btn {
    position: absolute;
    z-index: 1;
    margin-left: 35vw !important;
    margin-top: 25vh;
}

/* Personal Training */

.personalImages {
    padding-top: 20%;
    padding-left: 5%;
}

.d-block {
    height: 250px !important;
}

.personalText {

    padding-top: 10% !important;
}

.personalText h1 {

    font-size: 2rem !important;
}

.personalText p {
    font-size: .8rem !important;
}

/* Traveling */

#traveling {
    margin-top: -35% !important;
    height: 75vh !important;
}

.col {
    display: none;
}

.carousel-caption p {
    font-size: 1rem;   
}

.fontColors {
    background-color: black;
    opacity: 0.7;
    border-radius: 15px;

}

}

@media (min-width: 501px) {
    #carouselExampleIndicatorsTWO{
        display: none;
    }

    .cellNav {
        display: none;
    }
}
