@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap');

/* Home Page */

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}


html {
    font-size: 62.5%;
}

.wrapper {
    background: url(./images/tennisball.jpg) no-repeat ;
    background-size: cover;
    height: 100vh;

}


.navbar {
    height: 80px;
    width: 100%;
    background:rgba(103, 128, 159, .6);
    /* Fixes Navbar to Top */
    position: fixed;
    z-index:1;

}

.logo {
    width: 160px;
    height: auto;
    padding-top: 2px;
    padding-left: 2px;
}

.navbar ul {
    float: right;
    margin-right: 20px;
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin: 0, 8px;
    line-height: 80px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 0px 13px;
    margin-right: 20px;
    font-family: 'Be Vietnam', sans-serif;
    transition: .4s;
}

.navbar ul li a:hover{
    background: black;   
    border-radius: 2px; 
}

.navbar ul li a:active{
    background: black;   
    border-radius: 2px; 
}

.wrapper .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Be Vietnam', sans-serif;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center h1 {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    width: 900px;
    text-align: center;
}

button {
    margin-top: 20px;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgba(103, 128, 159, .5);
    border: 1px solid black;
    outline: none;
    cursor: pointer;
}

button:hover {
    background: black;
    transition: .2s;
    opacity: .7;
}

/* Homepage Media Queries */



/* About Us Page */

/* Tim Wilkison */

#aboutus {
    height: 85vh;
    background-color: rgba(103, 128, 159, .4);
    padding-right: 8%;
}

.img-wrap img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid rgba(103, 128, 159, .4);
    padding: 2%;
    box-shadow: 0, 0, 10px, #999999;
            }

.row {
    padding-top: 5%;
    margin: auto, 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col-sm-7 {
    width: 75%;
    padding-left: 10%;
    margin-top: 3%;
}

.col-sm-7 p {
    text-align: left;
    line-height: 150%;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1.5rem;
}

.col-sm-7 h2 {
    font-family: 'Be Vietnam', sans-serif;
    padding-bottom: 2%;
    font-size: 3rem;
}

.col-sm-5 {
    width: 50%;
    padding-left: 5%;
    margin-right: 5%;
    margin-top: 6%;
}

/* Marcus Luke */

#aboutus2 {
    height: 85vh;
    background-color: rgba(103, 128, 159, .4);
    padding-right: 8%;
}

.col-sm-5-1 {
    width: 55%;
    padding-left: 10%;
    margin-right: 5%;
    margin-top: 2%;
}

.img-wrap2 img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid rgba(103, 128, 159, .4);
    padding: 2%;
    box-shadow: 0, 0, 10px, #999999;
            }

.secondrow {
    flex-direction: row-reverse;
}



/* slide in */

.slide-in {
    opacity: 0;
    transition: all .5s;
  }

.align-right {
    float: right;
    margin-left: 30%;
  }

  .align-right.slide-in {
    transform: translateX(18%) scale(0.95);
  }

  .slide-in.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }

  .img-wrap2.align-left {
    float: left;
    margin-left: -30%;
  }

  .img-wrap2.slide-in.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }

  .align-left.slide-in {
    transform: translateX(-18%) scale(0.95);
  }


  .slide-in.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }