@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@1,300&display=swap');

/* Home Page */


* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-family: 'Be Vietnam', sans-serif;

}


html, body {
    font-size: 62.5%;
}

.wrapper {
    background: url(./images/tennisball.jpg) no-repeat ;
    background-size: cover;
    height: 100vh;

}


.navbartop {
    height: 80px;
    width: 100%;
    background:rgba(103, 128, 159, .9);
    /* Fixes Navbar to Top */
    position: fixed;
    z-index:1;

}

.logo {
    width: 160px;
    height: auto;
    padding-top: 2px;
    padding-left: 2px;
}

.navbartop ul {
    float: right;
    margin-right: 20px;
    display: flex;
}

.navbartop ul li {
    list-style: none;
    margin: 0, 8px;
    line-height: 80px;
}

.navbartop ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 0px 13px;
    margin-right: 20px;
    font-family: 'Be Vietnam', sans-serif;
    transition: .4s;
}

.navbartop ul li a:hover{
    background: black;   
    border-radius: 2px; 
}

.navbartop ul li a:active{
    background: black;   
    border-radius: 2px; 
}

.wrapper .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Be Vietnam', sans-serif;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center h1 {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    width: 900px;
    text-align: center;
    padding-bottom: 2%;
}

button {
    margin-top: 20px;
    height: 50px;
    width: 150px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    background: rgba(103, 128, 159, .5);
    border: 1px solid black;
    outline: none;
    cursor: pointer;
}

button:hover {
    background: black;
    transition: .2s;
    opacity: .7;
}


/* About Us Page */

/* Tim Wilkison */

.wholeabout {
    background-color: #687f9e;
    background-image: url("https://www.transparenttextures.com/patterns/xv.png");
    background-size: cover;
}

#aboutus {
    height: 80vh;
    padding-right: 8%;
}

.imageone img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid lightgrey;
    padding: 2%;
    box-shadow: 0, 0, 10px, #999999;
            }

.firstrow {
    padding-top: 5%;
    margin: auto, 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.colbig {
    width: 75%;
    padding-left: 10%;
    margin-top: 3%;
}

.colbig p {
    text-align: left;
    line-height: 150%;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1.5rem;
}

.colbig h2 {
    font-family: 'Be Vietnam', sans-serif;
    padding-bottom: 2%;
    font-size: 3rem;
}

.colsmall {
    width: 50%;
    padding-left: 5%;
    margin-right: 5%;
    margin-top: 6%;
}

/* Marcus Luke */

#aboutus2 {
    height: 80vh;
    padding-right: 8%;
    padding-top: 3%;
}

.lukesmall {
    width: 55%;
    padding-left: 10%;
    margin-right: 5%;
    margin-top: 2%;
}

.imgone2 img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid lightgrey;
    padding: 2%;
    box-shadow: 0, 0, 10px, #999999;
            }

.secondrow {
    flex-direction: row-reverse;
}



/* slide in */

.slide-in {
    opacity: 0;
    transition: all .5s;
  }

.align-right {
    float: right;
    margin-left: 30%;
  }

  .align-right.slide-in {
    transform: translateX(18%) scale(0.95);
  }

  .slide-in.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }

  .img-wrap2.align-left {
    float: left;
    margin-left: -30%;
  }

  .img-wrap2.slide-in.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }

  .align-left.slide-in {
    transform: translateX(-18%) scale(0.95);
  }


  .slide-in.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }

  /* Tennis Camps */

  #tennisCamps {
      height: 85vh;
  }


  .topheader{
      padding-top: 3%;
      padding-bottom: 2%;
      display: flex;
      margin: auto;
      width: 100%;
  }

  .topheader p {
      font-size: 1.5rem;
      width: 60%;
      padding-right: 5%;;
      margin-left: 10%;
  }

  .topheader h1 {
    padding-top: 1%;
    font-size: 3rem;
    overflow: hidden;
    white-space: nowrap;
    font-style: italic;
    
}

.imagegallery {
    display: flex;
}

.imagegallery div .campphoto {
    width: 100%;
    height: 407px;
    object-fit: cover;
    position: relative;
}

.campphoto {
    width: 33.33%;
}

.photo{
    display: flex;
    flex-direction: center;
    justify-content: center;
    position: relative;

}

.camptitle {
    position: absolute;    
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 2rem;
    border: 1px solid;
    width: 100%;
    text-align: center;
    background: #FFFFFFB3;
    font-style: italic;
}

.photo button {
    position: absolute;
    margin-top: 80%;
}

/* Pickleball Camps */

#pickleballCamps {
    height: 25vh;
}


.pickleText {
    padding-left: 10%;
    padding-top: 5%;
}

.header {
    height: 66vh;
    background-color: black;
}

.video-background {
    position: absolute;
    min-width: 66%;
    min-height: 66%;
    display: block;
    margin-left: 50vw;
    transform: translate(-50%);
    background-color: black;
    width: 66%;
    height: 66%;
    z-index: auto;
    object-fit: cover;
    background-color: black;
    margin-bottom: 5%;

}

#pb-btn {
    position: absolute;
    z-index: 1;
    margin-left: 45vw;
    margin-top: 25vh;
}

/* Personal Training */

#personal {
    height: 90vh;
    display: flex;
    padding-top: 7%;

}

.personalText {
    width: 50%;
    padding-left: 10%;
    padding-top: 2%;
}

.personalText h1 {
    text-align: center;
    font-style: italic;
    font-size: 3rem;
    padding-bottom: 5%;
}

.personalText p {
    font-size: 1.5rem;
    line-height: 2;
    padding-left: 3%;
}


#textBorder {
    border-left: 3px solid black;
    margin-bottom: 8%;
    border-color: #1D809F;
}


#carouselExampleIndicators {
    width: 25vw;
    margin-left: 40%;
}

.d-block {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* Traveling */

#traveling {
    height: 100vh;
    background-color: #687f9e;
    background-image: url("https://www.transparenttextures.com/patterns/xv.png");
    background-size: cover;
    margin: 0px;
    padding: 30px 0px;
}

.title {
    text-align: center;
    padding: 25px 0px;
}


.row {
    justify-content: center;
    width: 100%;
    padding-left: 4%;
    padding-top: 2%;
}

.card-img-top {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}


/* social icons */

.social-icons{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}

.social-icons span {
    display: block;
    width: 20px;
    cursor: pointer;
    padding-left: 2%;
}
